
.about-us {
    height: auto;
    padding: 80px;
    background-color: #f9f9f9;
    text-align: center;
}

.subheading-about {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 8px;
    color: rgba(0, 8, 22, 0.7); 
}

.heading-about {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 80px;
    color: #000816;
}

.about-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    gap: 40px;
    max-width: 1280px;
    margin: 0 auto;
    text-align: left;
}

.about-images {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.about-images-left{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.about-images-right{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.about-image {
    width: 302px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.about-text {
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: 620px;
}

.about-text-content { 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.about-image-right {  
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

/* Our Mission & Vision */
.about-details {
    margin-top: 32px;
}

.detail-box-about {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%; 
}

.about-icon {
    font-size: 32px;
    color: #003BA4;
    width: 80px;
}

.detail-box-about {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 4px;
}

.detail-box-about p {
    font-size: 16px;
    color: #555;
}

.read-more-about {
    width: 323px;
    height: 82px;
    border-radius: 16px;
    padding: 24px 48px;
    background-color: #003BA4;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 24px;
}

.read-more-about:hover {
    background-color: #0056b3;
}

@media (max-width: 1024px) {
    .about-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .about-images {
        flex-direction: column; 
        align-items: center;
    }

    .about-text {
        width: 90%; 
        height: auto; 
    }
    .about-text-content {
        flex-grow: 0; 
    }

    .about-text,
    .detail-box-about {
        width: 90%;
    }
}

@media (max-width: 768px) { 
    .about-us {
        padding: 40px;
    }

    .heading-about {
        font-size: 28px;
        margin-bottom: 40px;
    }

    .about-container {
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    .about-images {
        flex-direction: row; 
        width: 100%;
        justify-content: center; 
    }

    .about-image {
        width: 45%; 
        height: auto;
        margin: 5px;
    }

    .about-text {
        width: 100%;
        height: auto; 
    }
    .about-text-content {
        flex-grow: 0; 
    }

    .about-image-right {
        margin-bottom: 10px;
    }

    .about-text p {
        font-size: 16px;
    }

    .detail-box-about h3 {
        font-size: 24px;
    }

    .detail-box-about p {
        font-size: 14px;
    }

    .read-more-about {
        width: 100%;
        height: auto;
        padding: 16px 32px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .about-us {
        padding: 20px;
    }

    .heading-about {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .subheading-about {
        font-size: 16px;
    }

    .about-text {
        width: 100%;
        height: auto; 
    }
    .about-text-content {
        flex-grow: 0; 
    }

    .about-images {
        flex-direction: column; 
    }

    .about-image {
        width: 100%;
    }

    .about-text p {
        font-size: 14px;
    }

    .detail-box-about h3 {
        font-size: 20px;
    }

    .detail-box-about p {
        font-size: 12px;
    }

    .read-more-about {
        width: 100%;
        height: auto;
        padding: 12px 24px;
        font-size: 14px;
    }
}