.footer-container { 
  width:100%;
  display: flex;
  justify-content: space-between; 
  padding: 40px 80px;
  background-color: #000816;
  color: #fff;
  flex-wrap: wrap; 
  box-sizing: border-box;
}

.footer-box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box; 
}

.footer-contact{
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  width: 100%; 
  box-sizing: border-box; 
}
.footer-social-media {
  width: 100%; 
  box-sizing: border-box; 
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-logo img {
  width: 80px;
  height: auto;
}

#company-name {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
  width: 100%; 
  box-sizing: border-box; 
}

.footer-contact span {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  color: #FFFFFF;
}

.footer-social-media {
  display: flex;
  gap: 8px;
  opacity: 0.7;
  width: 100%; 
  box-sizing: border-box;
}

.social-icon {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.footer-headings {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.footer-box ul {
  list-style-type: none;
  padding: 0;
  gap: 16px;
}

.footer-box ul li {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  line-height: 2;
}

.footer-box ul li:hover {
  text-decoration: underline;
}

.subscribe-form {
  margin-top: 15px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.input-area {
  display: flex;
  align-items: center;
  background-color: #182C3F; 
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.message-icon {
  height: 30px;
  margin-right: 10px;
}

.email-input {
  flex: 1; 
  border: none;
  background: transparent;
  padding: 10px;
  font-size: 16px;
  outline: none;
  width: 100%;
  font-family: 'Poppins', sans-serif;}

.send-button {
  background-color: #003BA4;
  color: white;
  border: none;
  cursor: pointer;
  width: 179px; 
    height: 62px;
    padding: 16px 64px;
    gap: 10px; 
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 300;
}

.send-button:hover {
  background-color: #e07b00;
}

@media (max-width: 1200px) { 
  .footer-container {
      justify-content: space-around;
  }
}

@media (max-width: 1024px) { 
  .footer-container {
     flex-direction: column;
      align-items: center;
      justify-content: center; 
      gap: 60px;
  }

  .footer-box {
      width: 90%; 
      text-align: center;
      align-items: center; 
      min-width: auto; 
  }
  .footer-social-media {
      justify-content: center;
  }
  .subscribe-form {
      flex-direction: column; 
      align-items: center; 
      gap: 20px; 
  }
  .subscribe-form input, .subscribe-form button {
      width: 100%; 
      max-width: 350px; 
  }
}

@media (max-width: 768px) { 
  .footer-container {
      padding: 40px;
      gap: 40px; 
      align-items: center;
  }

  .footer-logo p {
      font-size: 28px;
  }

  .footer-logo img {
      width: 60px;
  }

  .footer-box span {
      font-size: 16px;
  }

  .footer-box ul li {
      font-size: 12px;
  }

  .footer-contact span {
    text-align: center;
      font-size: 16px;
  }

  .social-icon {
      width: 40px;
      height: 40px;
  }
  .subscribe-form {
      gap: 16px; 
  }
}

@media (max-width: 480px) { 
  .footer-container {
      padding: 30px;
      gap: 30px; 
  }
  .footer-logo p {
      font-size: 24px;
  }

  .footer-logo img {
      width: 50px;
  }
  .footer-contact span {
    text-align: center;
      font-size: 14px;
  }
  .footer-box span {
      font-size: 14px;
  }

  .footer-box ul li {
      font-size: 12px;
  }
  .social-icon {
      width: 36px;
      height: 36px;
  }
  .subscribe-form input {
      font-size: 12px;
      padding: 10px;
  }
  .subscribe-form button {
      font-size: 12px;
      padding: 10px;
  }
}
