.our-services-container {
  width: 100%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.our-services-header {
  text-align: center;
}

.sub-heading-services {
  font-size: 24px;
  color: rgba(0, 8, 22, 0.7); 
  font-weight: 400;
  font-family: 'Inter',sans-serif;
}

.heading-services {
  font-size: 36px;
  font-weight: 600;
  color: #000816; 
}

.tiles-container {
  display: flex;
  justify-content: space-between; 
  gap: 20px;
  flex-wrap: wrap; 
}

.service-tile {
  flex-basis: calc(25% - 20px); 
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: #fff;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  box-sizing: border-box; 
}

.service-tile:hover {
  background-color: #f0f5ff;
}

.service-logo {
  width: 100px;
  height: 100px;
}

.service-heading {
  font-size: 18px;
  font-weight: 600;
  color: #000816;
  text-align: center;
}

.service-description {
  font-size: 14px;
  color: rgba(0, 8, 22, 0.7);
  text-align: center;
}

.view-details {
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.view-details:hover {
  color: #0056b3;
}

@media (max-width: 768px) {
  .our-services-container {
      padding: 40px;
      gap: 40px;
  }

  .heading-services {
      font-size: 24px;
  }

  .service-tile {
      flex-basis: calc(50% - 20px); 
      margin-bottom: 20px; 
  }

  .tiles-container {
      justify-content: center; 
  }

  .service-logo {
      width: 80px;
      height: 80px;
  }
}

@media (max-width: 500px) {
  .service-tile {
      flex-basis: 100%; 
      margin-bottom: 20px;
  }
}